In [ ]:
a = input("Enter your numbers with commas for list 1: \n")
list1 = list(map(int, a.split(",")))

In [ ]:
b = input("Enter your numbers with commas for list 2: \n")
list2 = list(map(int, b.split(",")))

In [ ]:
inte = []
k1 = list(set(list1))
k2 = list(set(list2))

In [ ]:
for i in k1:
    if i in k2:
        inte.append(i)

In [ ]:
print(inte)