In [ ]:
a = input("Enter the elements with commas:\n")
b = tuple(map(int, a.split(",")))

In [ ]:
lowest = b[0]
greatest = b[0]

In [ ]:
for i in b:
    if i < lowest:
        lowest = i

In [ ]:
for k in b:
    if k > greatest:
        greatest = k

In [ ]:
print(f"The max value in this tuple is: {greatest}")
print(f"The min value in this tuple is: {lowest}")